  <% forum = current_forums %>
  <%= form_tag do %>

    <div class="form-group">
      <%= label_tag :title %>
      <%= text_field_tag :title, params[:title], class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= hidden_field_tag :author, params[:author], class: 'form-control', value: forum.username , required: true %>
    </div>

    <%= submit_tag 'Create', class: 'btn btn-primary' %>
  <% end %>