<div class="well">
  <h2><%= forum.title %></h2>
  <p class="text-muted"><%= forum.root? ? "Started by" : "Replied by" %> <strong><%= forum.author %></strong> on
    <%= l(forum.created_at, format: '%B, %d %Y %H:%M:%S') %></p>

  <blockquote>
  <p><%= forum.body %></p>
</blockquote>


<% from_reply_form ||= nil %>
<% unless from_reply_form %>
  <% if forum.leaf? %>
    <small class="text-muted">There are no replies yet - be the first one to reply!</small>
  <% end %>
  <p><%= link_to 'reply', new_forum_path(forum.id) %></p>
<% end %>
</div>