	<% f = current_forums %>
	<!--navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <a class="navbar-brand" href="#"><%= image_tag("LogoPutih.png") %></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">
                  <ul class="navbar-nav mr-auto">
                    <% if !forums_logged_in? %>
                    <li class="nav-item">
                      <%= link_to 'thread',forums_path, class: 'nav-link' %>
                    </li>               
                    <li class="nav-item">
                      <%= link_to 'login',forums_login_path, class: 'nav-link' %>
                    </li> 
                    <% elsif forums_logged_in? %>  

                    <li class="nav-item">
                      <%= link_to 'thread',forums_path, class: 'nav-link' %>
                    </li>        
                    <li class="nav-item">
                      <%= link_to f.username,'#', class: 'nav-link' %>
                    </li>   
                    <li class="nav-item">
                      <%= link_to 'logout',forums_logout_path, method: :delete, class: 'nav-link' %>
                    </li>    
                    <% end %>
                 </ul>
                </div>  
    </nav>
    <!--end navbar-->
  </header>
  <!--end header-->
<div class="jumbotron">
  <div class="container">
    <h1>Join the discussion</h1>
    <p>Click the button below to start a new thread:</p>
    <p>
      <%= link_to 'Add new topic', forums_new_path, class: 'btn btn-primary btn-lg' %>
    </p>
  </div>
</div>
<div class="m-5">
  <h1>Threads</h1>
  <hr>
  <% @thread.each do |t| %>
    <div class="m-3">
      <a href="/forum.<%= t.id %>" class="thread row"><h3 class="col-md-7"><%= t.title %></h3>
      <p class="col-md-2">Created by <%= t.author %></p>
      <small class="col-md-3"><%= time_ago_in_words(t.created_at) %> ago</small></a>
    </div>
  <% end %>
</div>
