	<!--navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <a class="navbar-brand" href="#"><%= image_tag("LogoPutih.png") %></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">
                  <ul class="navbar-nav mr-auto">
                  	<li class="nav-item">
                      <a class="nav-link" href="/admin/index">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/admin/santri">Data Santri</a>
                    </li>
                    <li class="nav-item active">
                      <a class="nav-link" href="/admin/guru">Data Guru</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/admin/pengasuhan">Pengasuhan</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/admin/pengaturan">Pengaturan</a>
                    </li>
                    <li class="nav-item">
						          <%= link_to 'logout',admin_logout_path, method: :delete, class: 'nav-link' %>
                    </li>                    
                 </ul>
                </div>  
    </nav>
    <!--end navbar-->
  </header>
  <!--end header-->
  <div class="p-5">
    <h1>Tabel Data Guru</h1>
    <%= link_to "Guru Baru", '#', data: {:'target' => '#form-guru', :'toggle' => 'modal' }, class: "btn btn-outline-primary" %>
  <div id="form-guru" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- konten modal-->
      <div class="modal-content">
        <!-- heading modal -->
        <div class="modal-header">
          <h4 class="modal-title">Tambah Data Guru Baru</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <!-- body modal -->
        <div class="modal-body">
          <%= form_tag do %>
            <div class="form-row">
              <div class="col-md-6">
                <%= text_field_tag :username, params[:username], class: "form-control",  placeholder: "Username" %>
              </div>
              <div class="col-md-6">
                <%= password_field_tag :password, params[:password], class: "form-control", placeholder: "Password" %>
              </div>
            </div>
            <br>
            <%= text_field_tag :nama, params[:nama], class: "form-control",  placeholder: "Nama" %>
            <br>
            <%= text_field_tag :nip, params[:nip], class: "form-control", placeholder: "NIP" %>
            <br>
            <%= select_tag(:jk, options_for_select([['Pria', 'Pria'], ['Wanita','Wanita']]), class: "form-control") %>
            <br>
            <%= text_field_tag :ttl, params[:ttl], class: "form-control", placeholder: "Tanggal Lahir" %>
            <br>
            <%= text_field_tag :alamat, params[:alamat], class: "form-control",  placeholder: "Alamat" %>
            <br>
            <%= text_field_tag :no_tlp, params[:no_tlp], class: "form-control", placeholder: "Telepon" %>
            <br>
            <div class="form-row">
              <div class="col-md-7">
                <%= text_field_tag :mapel, params[:mapel], class: "form-control",  placeholder: "Mata Pelajaran" %>
              </div>
              <div class="col-md-5">
                <%= select_tag(:pendidikan, options_for_select([['MTs', 'MTs'], ['Takhasus', 'Takhasus'], ['MA', 'MA']]), class: "form-control") %>
              </div>
            </div>
            <br>
        </div>
        <!-- footer modal -->
        <div class="modal-footer">
          <center><%= submit_tag 'Simpan', class: "btn btn-outline-primary" %></center>
        <% end %>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <legend>MTs</legend>
  <table class="table table-light">
    <tr>
      <th>Username</th>
      <th>Nama</th>
      <th>NIP</th>
      <th>Jenis Kelamin</th>
      <th>Alamat</th>
      <th>Nomor Telepon</th>
      <th>Mata Pelajaran</th>
      <th>Jenjang</th>
      <th></th>
    </tr>
    <% @gurus.each do |gurumts| %>
    <tr>
      <td><%= gurumts.username %></td>
      <td><%= gurumts.nama %></td>
      <td><%= gurumts.nip %></td>
      <td><%= gurumts.jk %></td>
      <td><%= gurumts.alamat %></td>
      <td><%= gurumts.no_tlp %></td>
      <td><%= gurumts.mapel %></td>
      <td><%= gurumts.pendidikan %></td>
      <td><%= link_to "Hapus", admin_guru_path(gurumts), method: :delete %></td>
    </tr>
    <% end %>
  </table>
  <hr>
  <legend>Takhasus</legend>
  <table class="table table-light">
    <tr>
      <th>Username</th>
      <th>Nama</th>
      <th>NIP</th>
      <th>Jenis Kelamin</th>
      <th>Alamat</th>
      <th>Nomor Telepon</th>
      <th>Mata Pelajaran</th>
      <th>Jenjang</th>
      <th></th>
    </tr>
    <% @gurut.each do |gurutakhasus| %>
    <tr>
      <td><%= gurutakhasus.username %></td>
      <td><%= gurutakhasus.nama %></td>
      <td><%= gurutakhasus.nip %></td>
      <td><%= gurutakhasus.jk %></td>
      <td><%= gurutakhasus.alamat %></td>
      <td><%= gurutakhasus.no_tlp %></td>
      <td><%= gurutakhasus.mapel %></td>
      <td><%= gurutakhasus.pendidikan %></td>
      <td><%= link_to "Hapus", admin_guru_path(gurutakhasus), method: :delete %></td>
    </tr>
    <% end %>
  </table>
  <hr>
  <legend>MA</legend>
  <table class="table table-light">
    <tr>
      <th>Username</th>
      <th>Nama</th>
      <th>NIP</th>
      <th>Jenis Kelamin</th>
      <th>Alamat</th>
      <th>Nomor Telepon</th>
      <th>Mata Pelajaran</th>
      <th>Jenjang</th>
      <th></th>
    </tr>
    <% @guru.each do |guru| %>
    <tr>
      <td><%= guru.username %></td>
      <td><%= guru.nama %></td>
      <td><%= guru.nip %></td>
      <td><%= guru.jk %></td>
      <td><%= guru.alamat %></td>
      <td><%= guru.no_tlp %></td>
      <td><%= guru.mapel %></td>
      <td><%= guru.pendidikan %></td>
      <td><%= link_to "Hapus", admin_guru_path(guru), method: :delete %></td>
    </tr>
    <% end %>
  </table>
</div>
</div>