<!--navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <a class="navbar-brand" href="/"><%= image_tag("LogoPutih.png") %></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">
                  <ul class="navbar-nav mr-auto">
                  	<li class="nav-item">
                      <a class="nav-link" href="/admin/index">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/admin/santri">Data Santri</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/admin/guru">Data Guru</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/admin/pengasuhan">Pengasuhan</a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Pengaturan
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/admin/tahun-ajaran">Tahun Ajaran</a>
                        <a class="dropdown-item" href="/admin/files">Files | Kalender Akademik, Info PSB</a>
                        <a class="dropdown-item" href="/admin/kontak">Kontak</a>
                      </div>
                    </li>
                    <li class="nav-item">
						          <%= link_to 'logout',admin_logout_path, method: :delete, class: 'nav-link' %>
                    </li>                    
                 </ul>
                </div>  
</nav>
<!--end navbar-->
</header>
<!--end header-->
  <center><h1 class="pt-5">Kontak Pondok Pesantren</h1></center>
  <hr>
  <%= form_tag do %>
    <table style="margin: 0px 100px;">
      <tr>
        <td align="center">Email</td>
        <td align="center">Telepon/Fax</td>
        <td align="center">Pengasuhan</td>
        <td align="center">KMI</td>
        <td align="center">MA</td>
        <td align="center">SIKPB</td>
      </tr>
      <tr>
        <td><%= email_field_tag :email, params[:email], class: 'form-control', style: 'text-align: center;', value: @kontak.email %><br></td>
        <td><%= text_field_tag :tlp, params[:tlp], class: 'form-control', style: 'text-align: center;', value: @kontak.tlp %><br></td>
        <td><%= text_field_tag :pengasuhan, params[:pengasuhan], class: 'form-control', style: 'text-align: center;', value: @kontak.pengasuhan %><br></td>
        <td><%= text_field_tag :kmi, params[:kmi], class: 'form-control', style: 'text-align: center;', value: @kontak.kmi %><br></td>
        <td><%= text_field_tag :ma, params[:ma], class: 'form-control', style: 'text-align: center;', value: @kontak.ma %><br></td>
        <td><%= text_field_tag :sikpb, params[:sikpb], class: 'form-control', style: 'text-align: center;', value: @kontak.sikpb %><br></td>
      </tr>
    </table>
    <center class="pb-5"><%= submit_tag "Update Data Kontak", class: 'btn btn-outline-primary' %></center>
  <% end %>