	<!--navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <a class="navbar-brand" href="#"><%= image_tag("LogoPutih.png") %></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">
                  <ul class="navbar-nav mr-auto">
                  	<li class="nav-item">
                      <a class="nav-link" href="/admin/index">Home</a>
                    </li>
                    <li class="nav-item active">
                      <a class="nav-link" href="/admin/santri">Data Santri</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/admin/guru">Data Guru</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/admin/pengasuhan">Pengasuhan</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/admin/pengaturan">Pengaturan</a>
                    </li>
                    <li class="nav-item">
						          <%= link_to 'logout',admin_logout_path, method: :delete, class: 'nav-link' %>
                    </li>                    
                 </ul>
                </div>  
    </nav>
    <!--end navbar-->
  </header>
  <!--end header-->
  <div class="p-5">
    <h1>Tabel Data Santri</h1>
    <div class="form-row">
      <button type="button" class="btn btn-outline-primary col-md-3" data-toggle="modal" data-target="#form-santri">Santri Baru</button>
      <%= select_tag(:kelas, options_for_select([['1','1'],['2','2'],['3','3'],['4','4'],['5','5'],['6','6']]), class: "form-control ml-5 col-md-3") %>
    </div>
  <div id="form-santri" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- konten modal-->
      <div class="modal-content">
        <!-- heading modal -->
        <div class="modal-header">
          <h4 class="modal-title">Tambah Data Santri Baru</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <!-- body modal -->
        <div class="modal-body">
          <%= form_tag do %>
            <div class="form-row">
              <div class="col-md-6">
                <%= text_field_tag :username, params[:username], class: "form-control",  placeholder: "Username" %>
              </div>
              <div class="col-md-6">
                <%= password_field_tag :password, params[:password], class: "form-control", placeholder: "Password" %>
              </div>
            </div>
            <br>
            <%= text_field_tag :nama, params[:nama], class: "form-control",  placeholder: "Nama" %>
            <br>
            <%= text_field_tag :nis, params[:nis], class: "form-control", placeholder: "NIS" %>
            <br>
            <%= text_field_tag :nisn, params[:nisn], class: "form-control", placeholder: "NISN" %>
            <br>
            <div class="form-row">
              <div class="col-md-5">
                <%= select_tag(:jk, options_for_select([['Pria', 'Pria'], ['Wanita','Wanita']]), class: "form-control") %>
              </div>
              <div class="col-md-7">
                <%= text_field_tag :agama, params[:agama], class: "form-control", placeholder: "Agama" %>
              </div>
            </div>
            <br>
            <div class="form-row">
              <div class="col-md-5">
                <%= text_field_tag :tempat, params[:tempat], class: "form-control", placeholder: "Tempat" %>
              </div>
              <div class="col-md-7">
                <%= text_field_tag :tl, params[:tl], class: "form-control", placeholder: "Tanggal Lahir" %>
              </div>
            </div>
            <br>
            <div class="form-row">
              <div class="col-md-5">  
                <%= text_field_tag :anak_ke, params[:anak_ke], class: "form-control", placeholder: "Anak ke-" %>
              </div>
              <div class="col-md-7">
                <%= text_field_tag :status_keluarga, params[:status_keluarga], class: "form-control", placeholder: "Status Keluarga" %>
              </div>
            </div>
            <br>
            <%= text_field_tag :alamat, params[:alamat], class: "form-control",  placeholder: "Alamat" %>
            <br>
            <%= text_field_tag :tlp, params[:tlp], class: "form-control", placeholder: "Telepon" %>
            <br>
            <div class="form-row">
              <div class="col-md-5">
                <%= text_field_tag :kelas, params[:kelas], class: "form-control", placeholder: "Kelas" %>
              </div>
              <div class="col-md-7">
                <%= text_field_tag :tahun_masuk, params[:tahun_masuk], class: "form-control", placeholder: "Tahun Masuk" %>
              </div>
            </div>
            <br>
            <%= text_field_tag :nama_sekolah, params[:nama_sekolah], class: "form-control", placeholder: "Nama Sekolah Sebelumnya" %>
            <br>
            <%= text_field_tag :alamat_sekolah, params[:alamat_sekolah], class: "form-control",  placeholder: "Alamat Sekolah Sebelumnya" %>
            <br>
            <div class="form-row">
              <div class="col-md-5">
                <%= text_field_tag :nama_ayah, params[:nama_ayah], class: "form-control", placeholder: "Nama Ayah" %>
              </div>
              <div class="col-md-7">
                <%= text_field_tag :nama_ibu, params[:nama_ibu], class: "form-control", placeholder: "Nama Ibu" %>
              </div>
            </div>
            <br>
            <div class="form-row">
              <div class="col-md-5">
                <%= text_field_tag :pekerjaan_ayah, params[:pekerjaan_ayah], class: "form-control", placeholder: "Pekerjaan Ayah" %>
              </div>
              <div class="col-md-7">
                <%= text_field_tag :pekerjaan_ibu, params[:pekerjaan_ibu], class: "form-control", placeholder: "Pekerjaan Ibu" %>
              </div>
            </div>
            <br>
            <div class="form-row">
              <div class="col-md-5">
                <%= text_field_tag :agama_ayah, params[:agama_ayah], class: "form-control", placeholder: "Agama Ayah" %>
              </div>
              <div class="col-md-7">
                <%= text_field_tag :agama_ibu, params[:agama_ibu], class: "form-control", placeholder: "Agama Ibu" %>
              </div>
            </div>
            <br>
            <%= text_field_tag :tlp_wali, params[:tlp_wali], class: "form-control", placeholder: "Telepon Orang tua atau Wali" %>
            <br>
            <%= text_field_tag :nama_wali, params[:nama_wali], class: "form-control", placeholder: "Nama Wali" %>
            <br>
            <%= text_field_tag :agama_wali, params[:agama_wali], class: "form-control", placeholder: "Agama Wali" %>
            <br>
            <%= text_field_tag :alamat_wali, params[:alamat_wali], class: "form-control", placeholder: "Alamat Wali" %>
            <br>
            <%= text_field_tag :pekerjaan_wali, params[:pekerjaan_wali], class: "form-control", placeholder: "Pekerjaan Wali" %>
            <br>
        </div>
        <!-- footer modal -->
        <div class="modal-footer">
          <center><%= submit_tag 'Simpan', class: "btn btn-outline-primary" %></center>
        <% end %>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <legend>Santri Putra</legend>
  <table class="table table-light">
    <tr>
      <th>Username</th>
      <th>Nama</th>
      <th>NIS</th>
      <th>NISN</th>
      <th>Jenis Kelamin</th>
      <th>Alamat</th>
      <th>Kelas</th>
      <th>Tahun Masuk</th>
      <th>Telepon Orang Tua / Wali</th>
      <th></th>
    </tr>
    <% @santri.each do |santri| %>
    <tr>
      <td><%= santri.username %></td>
      <td><%= santri.nama %></td>
      <td><%= santri.nis %></td>
      <td><%= santri.nisn %></td>
      <td><%= santri.jk %></td>
      <td><%= santri.alamat %></td>
      <td><%= santri.kelas %></td>
      <td><%= santri.tahun_masuk %></td>
      <td><%= santri.tlp_wali %></td>
      <td><%= link_to 'Hapus', admin_santri_path(santri), method: :delete %></td>
    </tr>
    <% end %>
  </table>
  <hr>
  <legend>Santri Putri</legend>
  <table class="table table-light">
    <tr>
      <th>Username</th>
      <th>Nama</th>
      <th>NIS</th>
      <th>NISN</th>
      <th>Jenis Kelamin</th>
      <th>Alamat</th>
      <th>Kelas</th>
      <th>Tahun Masuk</th>
      <th>Telepon Orang Tua / Wali</th>
      <th></th>
    </tr>
    <% @santriwati.each do |santriwati| %>
    <tr>
      <td><%= santriwati.username %></td>
      <td><%= santriwati.nama %></td>
      <td><%= santriwati.nis %></td>
      <td><%= santriwati.nisn %></td>
      <td><%= santriwati.jk %></td>
      <td><%= santriwati.alamat %></td>
      <td><%= santriwati.kelas %></td>
      <td><%= santriwati.tahun_masuk %></td>
      <td><%= santriwati.tlp_wali %></td>
      <td><%= link_to 'Hapus', admin_guru_path(santriwati), method: :delete %></td>
    </tr>
    <% end %>
  </table>
</div>
  </div>