		<!--navbar-->
		<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <a class="navbar-brand" href="/"><%= image_tag("LogoPutih.png") %></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                      <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/profil">Profil</a>
                    </li>
                    <li class="nav-item active">
                      <a class="nav-link" href="/galeri">Galeri</a>
                    </li>
                    <li class="nav-item dropdown">
				        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				          Informasi
				        </a>
				        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
				          <a class="dropdown-item" href="/info-psb">Info PSB</a>
				          <a class="dropdown-item" href="/kalender-akademik">Kalender Akademik</a>
				        </div>
				    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/kontak">Kontak</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/forums">Forum</a>
                    </li>
                    <li class="nav-item dropdown">
				        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				          Portal Pendidikan
				        </a>
				        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
				          <a class="dropdown-item" href="/santri">Raport</a>
				          <a class="dropdown-item" href="/kenaikan-kelas">Pengumuman Kenaikan</a>
				          <a class="dropdown-item" href="/kelulusan">Pengumuman Kelulusan</a>
				        </div>
				    </li>
                    
                 </ul>
                </div>	
		</nav>
		<!--end navbar-->
	</header>
	<!--end header-->	
	<!--title-->
	<div class="title2">
	   <h2>Galeri</h2>
	</div>
	<!--end title-->
	<!--kolom-->
<div class="kolom">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#50">Setengah Abad Pondok Pabelan</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#kegiatan">Kegiatan Santri</a>
        </li>
    </ul>
    <!--tab content-->
    <div id="myTabContent" class="tab-content">
      <!--50 tahun-->
      <div class="tab-pane show active" id="50">
      	<!--isi 50 tahun-->
        <div class="setengahabad-galeri">
          <%= image_tag("1-galeri.jpg", :name => "myImg", :id => "myImg") %><%= image_tag("2-galeri.jpg", :name => "myImg", :id => "myImg") %><%= image_tag("3-galeri.jpg", :name => "myImg", :id => "myImg") %><%= image_tag("4-galeri.jpg", :name => "myImg", :id => "myImg") %>
          <%= image_tag("5-galeri.jpg", :name => "myImg", :id => "myImg") %><%= image_tag("6-galeri.jpg", :name => "myImg", :id => "myImg") %><%= image_tag("7-galeri.jpg", :name => "myImg", :id => "myImg") %><%= image_tag("8-galeri.jpg", :name => "myImg", :id => "myImg") %>
          <%= image_tag("9-galeri.jpg", :name => "myImg", :id => "myImg") %><%= image_tag("10-galeri.jpg", :name => "myImg", :id => "myImg") %>
        </div>
        <!--end isi 50 tahun-->
      </div>
      <!--end 50 tahun-->
      <!--kegiatan-->
      <div class="tab-pane" id="kegiatan">
      	<!--kegiatan santri-->
        <div class="kegiatan-galeri">
          <%= image_tag("1a-galeri.jpg", :name => "myImg", :id => "myImg") %><%= image_tag("2a-galeri.jpg", :name => "myImg", :id => "myImg") %><%= image_tag("3a-galeri.jpg", :name => "myImg", :id => "myImg") %><%= image_tag("4a-galeri.jpg", :name => "myImg", :id => "myImg") %>
          <%= image_tag("5a-galeri.jpg", :name => "myImg", :id => "myImg") %><%= image_tag("6a-galeri.jpg", :name => "myImg", :id => "myImg") %><%= image_tag("7a-galeri.jpg", :name => "myImg", :id => "myImg") %><%= image_tag("8a-galeri.jpg", :name => "myImg", :id => "myImg") %>
          <%= image_tag("9a-galeri.jpg", :name => "myImg", :id => "myImg") %><%= image_tag("10a-galeri.jpg", :name => "myImg", :id => "myImg") %>
        </div>
        <!--end kegiatan santri-->
      </div>
      <!--end kegiatan-->
    </div>
    <!--end tab content-->
</div>
<!--end kolom-->
<!-- The Modal -->
<div id="myModal" class="modal">
  <span class="close">×</span>
  <img class="modal-content" id="img01">
  <div id="caption"></div>
</div>
<script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the image and insert it inside the modal - use its "alt" text as a caption
var img = document.getElementById('myImg');
var modalImg = document.getElementById("img01");
var captionText = document.getElementById("caption");
img.onclick = function(){
    modal.style.display = "block";
    modalImg.src = this.src;
    captionText.innerHTML = this.alt;
}

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on <span> (x), close the modal
span.onclick = function() { 
    modal.style.display = "none";
}
</script>