	<!--navbar-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <a class="navbar-brand" href="#"><%= image_tag("LogoPutih.png") %></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">
                  <ul class="navbar-nav mr-auto">
                  	<li class="nav-item">
                      <a class="nav-link" href="/guru/index">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/guru/penilaian">Penilaian</a>
                    </li>
                    <li class="nav-item active">
                      <a class="nav-link" href="/guru/profil">Profil</a>
                    <li class="nav-item">
						          <%= link_to 'logout', guru_logout_path, method: :delete, class: 'nav-link' %>
                    </li>                    
                 </ul>
                </div>  
    </nav>
    <!--end navbar-->
  </header>
  <!--end header-->
  <% guru = current_guru %>
  <!--title-->
  <div class="title2">
     <h2>Profil Guru</h2>
  </div>
  <!--end title-->
  <% flash.each do |type, message| %>
    <div class="alert alert-<%= type %>"><%= message %></div>
  <% end %>
  <div class="biodata-guru m-5">
    <table class="table table-light">
      <tr>
        <th>Username</th>
        <td><%= guru.username %></td>
      </tr>
      <tr>
        <th>Nama</th>
        <td><%= guru.nama %></td>
      </tr>
      <tr>
        <th>NIP</th>
        <td><%= guru.nip %></td>
      </tr>
      <tr>
        <th>Jenis Kelamin</th>
        <td><%= guru.jk %></td>
      </tr>
      <tr>
        <th>Tanggal Lahir</th>
        <td><%= guru.ttl %></td>
      </tr>
      <tr>
        <th>Alamat</th>
        <td><%= guru.alamat %></td>
      </tr>
      <tr>
        <th>Nomor Telepon</th>
        <td><%= guru.no_tlp %></td>
      </tr>
      <tr>
        <th>Mata Pelajaran</th>
        <td><%= guru.mapel %></td>
      </tr>
    </table>
    <center><button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#form-guru">Edit Biodata</button></center>
    <div id="form-guru" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- konten modal-->
        <div class="modal-content">
          <!-- heading modal -->
          <div class="modal-header">
            <h4 class="modal-title">Edit Biodata Guru</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <!-- body modal -->
          <div class="modal-body">
            <%= form_tag do %>
              <%= text_field_tag :username, params[:username], class: "form-control",  placeholder: "Username", value: guru.username %>
              <br>
              <%= password_field_tag :password, params[:password], class: "form-control", placeholder: "Password", :required => true %>
              <br>
              <%= text_field_tag :nama, params[:nama], class: "form-control",  placeholder: "Nama", value: guru.nama %>
              <br>
              <%= text_field_tag :nip, params[:nip], class: "form-control", placeholder: "NIP", value: guru.nip %>
              <br>
              <%= text_field_tag :jk, params[:jk], class: "form-control", placeholder: "Jenis Kelamin", value: guru.jk %>
              <br>
              <%= text_field_tag :ttl, params[:ttl], class: "form-control", placeholder: "Tanggal Lahir", value: guru.ttl %>
              <br>
              <%= text_field_tag :alamat, params[:alamat], class: "form-control",  placeholder: "Alamat", value: guru.alamat %>
              <br>
              <%= text_field_tag :no_tlp, params[:no_tlp], class: "form-control", placeholder: "Telepon", value: guru.no_tlp %>
              <br>
              <%= text_field_tag :mapel, params[:mapel], class: "form-control",  placeholder: "Mata Pelajaran", value: guru.mapel %>
              <br>
              <%= text_field_tag :pendidikan, params[:pendidikan], class: "form-control", placeholder: "Jenjang", value: guru.pendidikan %>
              <br>
          </div>
          <!-- footer modal -->
          <div class="modal-footer">
            <center><%= submit_tag 'Simpan', class: "btn btn-outline-primary" %></center>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>