</header>
</div>
	<div class="login-area">
		<p id="notice"><%= notice %></p>
		<div class="inside-login-area">
			<%= form_tag do %>
			<center>
				<%= image_tag("LogoPabelan.png") %>
				<legend>Pengasuhan Login</legend>
			</center>
			<hr>
			<%= text_field_tag :username, params[:username], class: "form-control", placeholder: "Username" %>
			<%= text_field_tag :password, params[:password], class: "form-control", type: "password", placeholder: "Password" %>
			<br>
			<center>
				<%= submit_tag "Login", class: "btn btn-success" %>
			</center>
			<% end %>
		</div>
	</div>
