<!--navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/"><%= image_tag("LogoPutih.png") %></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
      	<li class="nav-item">
          <a class="nav-link" href="/pengasuhan/index">Home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/pengasuhan/raport">Raport</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/pengasuhan/mail">Pesan</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/pengasuhan/profil">Profil</a>
            <li class="nav-item">
					     <%= link_to 'logout', pengasuhan_logout_path, method: :delete, class: 'nav-link' %>
            </li>                    
      </ul>
    </div>  
</nav>
<!--end navbar-->
</header>
<!--end header-->
<% guru = current_pengasuhan %>
  <!--title-->
  <div class="title2">
     <h2>Form kenaikan kelas</h2>
  </div>
  <!--end title-->
  <% flash.each do |type, message| %>
    <div class="alert alert-<%= type %>"><%= message %></div>
  <% end %>
  <div class="m-5">
    <center><h3>Tahun Ajaran <%= @tahunajaran.tahun %></h3></center>
    <%= form_tag(pengasuhan_raport_path, :method => "get", :class => 'form-row mx-5') do %>
      <select id="kelas" name="kelas" class="form-control col-md-3" style="height: 52px; margin-left: 25%;">
        <option value="">Pilih Kelas</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>      
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
      </select>
      <%= submit_tag 'Pilih', class: 'btn btn-primary col-md-3' %>
    <% end %>
    <hr>
    <div>
      <div>
        <legend>Daftar Santri</legend>
        <table class="table table-light">
          <tr>
            <th>Nama Santri</th>
            <th>NIS</th>
            <th>Kelas</th>
            <th></th>
          </tr>
          <% @santri.each do |santri|%>
          <tr>
            <td><%= santri.nama %></td>
            <td><%= santri.nis %></td>
            <td><%= santri.kelas %></td>
            <% if santri.nis != nil %>
            <td>
              <% if @tahunajaran.tahun.to_i % 2 == 0 %>
              <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#form-kenaikan<%= santri.id %>">Naik Kelas</button>
              <%= link_to 'Tinggal Kelas', pengasuhan_raport_path(santri.id), method: :delete, class: "btn btn-outline-danger" %>
              <% else %>
                <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#form-semester<%= santri.id %>">Ke Semester Selanjutnya</button>
              <% end %>
            </td>
            <div id="form-kenaikan<%= santri.id %>" class="modal fade" role="dialog">
              <div class="modal-dialog">
                <!-- konten modal-->
                <div class="modal-content">
                  <!-- heading modal -->
                  <div class="modal-header">
                    <h4 class="modal-title"><center><%= santri.nama %> Naik Kelas</center></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  <!-- body modal -->
                  <div class="modal-body">
                    <%= form_tag do %>
                    <div class="mx-5">
                      <label>Nama :</label>
                      <%= text_field_tag :nama, params[:nama], class: "form-control-plaintext", value: santri.nama, :readonly => true, style: "width: 75%;" %>
                      <br>
                      <label>NIS :</label>
                      <%= text_field_tag :nis, params[:nis], class: "form-control-plaintext", value: santri.nis, :readonly => true, style: "width: 75%;" %>
                      <br>
                      <label>Kelas :</label>
                      <%= text_field_tag :kelas, params[:kelas], class: "form-control-plaintext", value: santri.kelas, :readonly => true, style: "width: 75%;" %>
                      <br>
                      <label>Tahun Ajaran</label><%= text_field_tag :tahun_ajaran, params[:tahun_ajaran], class: "form-control-plaintext", value: @tahunajaran.tahun, :readonly => true %>
                      <hr>
                      <center>
                        <h3>naik ke kelas <%= santri.kelas.to_i + 1 %></h3>
                        <select id="kenaikan" name="kenaikan" class="form-control">
                          <option value="">Pilih Kenaikan</option>
                          <option value="Naik Positif">Naik Positif</option>
                          <option value="Naik Negatif">Naik Negatif</option>
                          <option value="Pertimbangan">Pertimbangan</option>
                        </select>
                      </center>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <%= submit_tag 'Submit', class: "btn btn-outline-primary" %>
                  </div>
                  <% end %>
                </div>
              </div>
            </div>
            <div id="form-semester<%= santri.id %>" class="modal fade" role="dialog">
              <div class="modal-dialog">
                <!-- konten modal-->
                <div class="modal-content">
                  <!-- heading modal -->
                  <div class="modal-header">
                    <h4 class="modal-title"><center><%= santri.nama %> Naik Kelas</center></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  <!-- body modal -->
                  <div class="modal-body">
                    <%= form_tag do %>
                    <div class="mx-5">
                      <label>Nama :</label>
                      <%= text_field_tag :nama, params[:nama], class: "form-control-plaintext", value: santri.nama, :readonly => true, style: "width: 75%;" %>
                      <br>
                      <label>NIS :</label>
                      <%= text_field_tag :nis, params[:nis], class: "form-control-plaintext", value: santri.nis, :readonly => true, style: "width: 75%;" %>
                      <br>
                      <label>Kelas :</label>
                      <%= text_field_tag :kelas, params[:kelas], class: "form-control-plaintext", value: santri.kelas, :readonly => true, style: "width: 75%;" %>
                      <br>
                      <label>Tahun Ajaran</label><%= text_field_tag :tahun_ajaran, params[:tahun_ajaran], class: "form-control-plaintext", value: @tahunajaran.tahun, :readonly => true %>
                      <hr>
                      <center>
                        <h3>Masuk ke Semester <%= "#{@tahunajaran.tahun.to_i}/#{@tahunajaran.tahun.to_i + 1}" %></h3>
                      </center>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <%= submit_tag 'Submit', class: "btn btn-outline-primary" %>
                  </div>
                  <% end %>
                </div>
              </div>
            </div>
            <% end %>
          </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>