<!--navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <a class="navbar-brand" href="#"><%= image_tag("LogoPutih.png") %></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">
                  <ul class="navbar-nav mr-auto">
                  	<li class="nav-item ">
                      <a class="nav-link" href="/santri/index">Home</a>
                    </li>
                    <li class="nav-item active">
                      <a class="nav-link" href="/santri/raport">Raport</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/santri/profil">Profil</a>
                    <li class="nav-item">
						<%= link_to 'logout', santri_logout_path, method: :delete, class: 'nav-link' %>
                    </li>                    
                 </ul>
                </div>  
</nav>
<!--end navbar-->
</header>
<!--end header-->
<% santri = current_santri %>
<div class="raport-santri m-5">
	<legend>Nilai Raport</legend>
	<hr>
	<table class="table table-dark">
		<% @raport.each do |raport| %>
			<% if (santri.nis==raport.nis) %>
			<tr>
				<th><%= raport.mapel %></th>
				<td><%= raport.angka %></td>
				<td><%= raport.praktik %></td>
				<td><%= raport.huruf %></td>
			</tr>
			<% end %>
		<% end %>
	</table>
</div>
<div class="kenaikan-kelas-santri m-5">
	<legend>Kenaikan Kelas</legend>
	<hr>
	<table class="table table-light">
		<tr>
			<td>Anda : </td>
			<td>kenaikan</td>
		</tr>
	</table>
</div>
<div class="ekskul-santri p-5">
	<legend>Ekstrakulikuler</legend>
	<hr>
	<table class="table table-dark">
		<tr>
			<td>Pramuka</td>
			<td>A</td>
		</tr>
		<tr>
			<td>Paskibra</td>
			<td>B</td>
		</tr>
	</table>
</div>
</div>