<!DOCTYPE html>
<html>
  <head>
    <title>SistemAkademikPonpesPabelanV1</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="shortcut icon" href="http://localhost:3000/assets/favicon-7ffb2ca9a0a3427736af9b255a3228b6e14400c16a7e87ff6775cb860956d0cf.jpg">
  </head>

  <body>
  	<div class="wrapper">
	<!--header-->
	<header>
		<!--gambar atas-->
		<%= image_tag("garis2.jpg", :class => "atas") %>
    <%= yield %>
    <!--gambar garis (bawah)-->
    <%= image_tag("garis2.jpg", :class => "bawah") %>
	<!--footer-->
	<footer>
		<!--footer 1-->
		<div class="footer1">
			<!--footer a-->
			<div class="footera">
				<%= image_tag("LogoPabelan.png", :class => "logo") %>
				<!--contact-->
				<div class="contact">
					<a href="https://www.facebook.com/pondokpesantren.pabelan"><%= image_tag("facebook.png", :class => "fb") %></a>
					<a href="https://www.instagram.com/pondokpabelan/"><%= image_tag("ig.png", :class => "ig") %></a>
					<a href=""><%= image_tag("twitter.png", :class => "email") %></a>
					<a href=""><%= image_tag("rss.png", :class => "tlp") %></a>
					<a href=""><%= image_tag("loc.png", :class => "loc") %></a>
				</div>
				<!--end contact-->
			</div>
			<!--end footer a-->
			<!--footer b-->
			<div class="footerb">
				<h4>Contact Info</h4>
				<p>PO BOX 800 Mungkid Magelang Jawa Tengah</p>
				<p>Email : supportpabelan@gmail.com</p>
				<p>Phone : (0293) 782040</p>
			</div>
			<!--end footer b-->
			<!--footer c-->
			<div class="footerc">
				<%= image_tag("depag.png", :class => "depag") %>
				<%= image_tag("binanbud.png", :class => "binanbud") %>
			</div>
			<!--end footer c-->
		</div>
		<!--end footer 1-->
		<!--footer 2-->
		<div class="footer2">
			<center>
				<label>&copy Pondok Pesantren Pabelan 2017</label>
			</center>
		</div>
		<!--end footer 2-->
	</footer>
	<!--end footer-->
</body>
</html>
